.overlay {
    top: -20%;
    position: absolute;
    border-top:500px solid transparent;
    border-right: 500px solid transparent;
    border-bottom: 500px solid transparent;
    border-left: 500px solid #FFFFFF;
    z-index: 10;
    

}

.underline_animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
    
}

.underline_animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2.5px;
    bottom: 0;
    left: 0;
    background-color: #1f5355;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;

}

.underline_animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  
}



.top__reverse {
    transform: rotate(180deg);
}

.text_style {
    text-shadow: 0 1px;
}


.text_box {
    z-index: 100;
    width:450px;
    height:100px;
    position: absolute;
    padding:10px;
    top: 80px;
    left: 160px;
    /* background-color: #0087ca; */
    border-radius: 10px;
    /* backdrop-filter: blur(20px); */
}

/* @keyframes hideReveal{
    0%  {background-color:}
} */

.small_circle{
    width: 300px;
    height: 300px;
    position: absolute;
    left:260px;
    background-color: #FFFFFF;
    border-radius: 50%;
    transform: rotate(90deg);
    /* animation: spin 1s linear infinite; */
    transition: 1s;
    z-index: 40;
}

.s_one{
    top: 55px;
    right: 55px;
    transform: rotate(-60deg);
    
}

.s_two{
    top: 60px;
    left: 46px;
    transform: rotate(-120deg);
    
}
.s_three{
    bottom: 135px;
    left: 10px;
    transform: rotate(180deg);
}
.s_four{
    bottom: 140px;
    right: 10px;
    transform: rotate(0deg);
}
.s_five{
    bottom:45px;
    right: 170px;
    transform: rotate(120deg);
}


.s_six{
    bottom: 50px;
    right: 80px;
    transform: rotate(60deg);
}




.featured__card {
    position: absolute;
    display: flex;
    color: white;
}

.one {
    top: 90px;
    right: -375px;
}

.two{
    top: -200px;
    left: 150px;
    transform: rotate(-90deg);
}

.three{
    bottom: 400px;
    left: -500px;
    transform: rotate(-180deg);
}

.four{
    bottom: -200px;
    right: 150px;
    transform: rotate(90deg);
   
}

.next__button {
    transform: rotate(270deg);
    color: #1f5355;
    
}



/* Card Stack Designing */

.container {
    width: 600px;
    height: 500px;
    position: relative;
    perspective: 3000px;
    margin: 150px auto;
    right: 70px;
    bottom: 15px;
}

.card_stack {
    position: absolute;
    width:500px;
    height: 250px;
    margin: 20px auto;
    transform-style: preserve-3d;
    transform: rotateY(-360deg) translateZ(-300px);
    transition: 3s;
    animation: animate 40s steps(1000, end ) infinite;
}

.single_stack{
    position: absolute;
    top: 10px;
    left:60px;
    width: 500px;
    height: 400px;
    /* background-color: #3d3d3d; */
}

.inside_container{
    width: 500px;
    height: 400px;
    border: 5px solid #fff;
}

.single_stack.stack_one{
    transform: rotateY(0deg) translateZ(500px);
}
.single_stack.stack_two{
    transform: rotateY(60deg) translateZ(500px);
}
.single_stack.stack_three{
    transform: rotateY(120deg) translateZ(500px);
}
.single_stack.stack_four{
    transform: rotateY(180deg) translateZ(500px);
}
.single_stack.stack_five{
    transform: rotateY(240deg) translateZ(500px);
}
.single_stack.stack_six{
    transform: rotateY(300deg) translateZ(500px);
}


.services {
   background-color: #12465b;
   background-position: top;
   transition: background-color 0.5s ease-in-out;
   clip-path: inset(0% 0% 0% 0%);
   position: relative;
}


.services .inner_service {
    height: 100%;
    width:100%;
    background-color: #003049;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    clip-path: inset(100% 0% 0% 0%);
    transition: all .5s ease-in-out;
}
.services:hover .inner_service {
    
    clip-path: inset(0% 0% 0% 0%);
}

.service_icons {
    position: absolute;
    bottom: 30px;
    right: 20px;
    font-size: 24px;
}
.services:hover .service_icons {
    transform: rotate(360deg);
    transition: transform 1s ease-in-out;
}
.view_more {
    position: absolute;
    bottom: 25px;
    left:40px;
    font-size: 18px;
    border: 1px solid white;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
 

}
.button_clip {
    clip-path: circle(0% at 0% 0%);
    height:100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    left:0;
    transition: all 0.5s ease-in-out;
    
}

.view_more:hover .button_clip {
    clip-path: circle(75%);
    
}
.view_more:hover{
    color: #003049;
}
.big_button {
    position: absolute;
    border: 2px solid white;
    color:#003049;
    height:10vh;
    width:50%;
    border-radius: 5px;
    font-size: 1.7em;
    font-weight: bold;
    z-index: 10;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 0 10px #31718ab4;
    
}

.big_button:hover{
    color: white;

    
}

.big_button_clip {
    clip-path: circle(0% at 30.7% 55%);
    height:100%;
    width: 100%;
    background-color: #003049;
    position: absolute;
    top: 0;
    left:0;
    transition: all 0.5s ease-in-out;
    z-index: -1;
    border-radius: 5px;
    border: 2px solid #003049;
}
.big_button:hover .big_button_clip{
    clip-path: circle(100%);
}


.avatar {
    clip-path: circle(50%);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 180px;
    left: 100px;
    z-index: 10;
    border: 3px solid white;
    border-radius: 50%;
}

.wave {
    position: absolute;
    bottom:0;
    transform: rotate(180deg);
    z-index: 5;
    width: 100%;
    height: 200px;
   
    clip-path: polygon(0% 0%, 0% 82.5%, 1.69492% 84.3293%, 3.38983% 86.1385%, 5.08475% 87.9078%, 6.77966% 89.6179%, 8.47458% 91.25%, 10.1695% 92.7862%, 11.8644% 94.2098%, 13.5593% 95.505%, 15.2542% 96.6578%, 16.9492% 97.6555%, 18.6441% 98.487%, 20.339% 99.1435%, 22.0339% 99.6176%, 23.7288% 99.9041%, 25.4237% 100%, 27.1186% 99.9041%, 28.8136% 99.6176%, 30.5085% 99.1435%, 32.2034% 98.487%, 33.8983% 97.6555%, 35.5932% 96.6578%, 37.2881% 95.505%, 38.9831% 94.2098%, 40.678% 92.7862%, 42.3729% 91.25%, 44.0678% 89.6179%, 45.7627% 87.9078%, 47.4576% 86.1385%, 49.1525% 84.3293%, 50.8475% 82.5%, 52.5424% 80.6708%, 54.2373% 78.8616%, 55.9322% 77.0922%, 57.6271% 75.3821%, 59.322% 73.75%, 61.017% 72.2138%, 62.7119% 70.7902%, 64.4068% 69.495%, 66.1017% 68.3422%, 67.7966% 67.3446%, 69.4915% 66.513%, 71.1864% 65.8565%, 72.8814% 65.3824%, 74.5763% 65.0959%, 76.2712% 65%, 77.9661% 65.0959%, 79.661% 65.3824%, 81.3559% 65.8565%, 83.0509% 66.513%, 84.7458% 67.3446%, 86.4407% 68.3422%, 88.1356% 69.495%, 89.8305% 70.7902%, 91.5254% 72.2138%, 93.2203% 73.75%, 94.9153% 75.3821%, 96.6102% 77.0922%, 98.3051% 78.8616%, 100% 80.6708%, 100% 0%); shape-outside: polygon(0% 0%, 0% 82.5%, 1.69492% 84.3293%, 3.38983% 86.1385%, 5.08475% 87.9078%, 6.77966% 89.6179%, 8.47458% 91.25%, 10.1695% 92.7862%, 11.8644% 94.2098%, 13.5593% 95.505%, 15.2542% 96.6578%, 16.9492% 97.6555%, 18.6441% 98.487%, 20.339% 99.1435%, 22.0339% 99.6176%, 23.7288% 99.9041%, 25.4237% 100%, 27.1186% 99.9041%, 28.8136% 99.6176%, 30.5085% 99.1435%, 32.2034% 98.487%, 33.8983% 97.6555%, 35.5932% 96.6578%, 37.2881% 95.505%, 38.9831% 94.2098%, 40.678% 92.7862%, 42.3729% 91.25%, 44.0678% 89.6179%, 45.7627% 87.9078%, 47.4576% 86.1385%, 49.1525% 84.3293%, 50.8475% 82.5%, 52.5424% 80.6708%, 54.2373% 78.8616%, 55.9322% 77.0922%, 57.6271% 75.3821%, 59.322% 73.75%, 61.017% 72.2138%, 62.7119% 70.7902%, 64.4068% 69.495%, 66.1017% 68.3422%, 67.7966% 67.3446%, 69.4915% 66.513%, 71.1864% 65.8565%, 72.8814% 65.3824%, 74.5763% 65.0959%, 76.2712% 65%, 77.9661% 65.0959%, 79.661% 65.3824%, 81.3559% 65.8565%, 83.0509% 66.513%, 84.7458% 67.3446%, 86.4407% 68.3422%, 88.1356% 69.495%, 89.8305% 70.7902%, 91.5254% 72.2138%, 93.2203% 73.75%, 94.9153% 75.3821%, 96.6102% 77.0922%, 98.3051% 78.8616%, 100% 80.6708%, 100% 0%);
}

.large_wave {
    position: absolute;
    bottom:0;
    transform: rotate(180deg);
    /* z-index: 0; */
    width: 100%;
    height: 200px;
    clip-path: polygon(0% 0%, 0% 82.5%, 1.69492% 84.3293%, 3.38983% 86.1385%, 5.08475% 87.9078%, 6.77966% 89.6179%, 8.47458% 91.25%, 10.1695% 92.7862%, 11.8644% 94.2098%, 13.5593% 95.505%, 15.2542% 96.6578%, 16.9492% 97.6555%, 18.6441% 98.487%, 20.339% 99.1435%, 22.0339% 99.6176%, 23.7288% 99.9041%, 25.4237% 100%, 27.1186% 99.9041%, 28.8136% 99.6176%, 30.5085% 99.1435%, 32.2034% 98.487%, 33.8983% 97.6555%, 35.5932% 96.6578%, 37.2881% 95.505%, 38.9831% 94.2098%, 40.678% 92.7862%, 42.3729% 91.25%, 44.0678% 89.6179%, 45.7627% 87.9078%, 47.4576% 86.1385%, 49.1525% 84.3293%, 50.8475% 82.5%, 52.5424% 80.6708%, 54.2373% 78.8616%, 55.9322% 77.0922%, 57.6271% 75.3821%, 59.322% 73.75%, 61.017% 72.2138%, 62.7119% 70.7902%, 64.4068% 69.495%, 66.1017% 68.3422%, 67.7966% 67.3446%, 69.4915% 66.513%, 71.1864% 65.8565%, 72.8814% 65.3824%, 74.5763% 65.0959%, 76.2712% 65%, 77.9661% 65.0959%, 79.661% 65.3824%, 81.3559% 65.8565%, 83.0509% 66.513%, 84.7458% 67.3446%, 86.4407% 68.3422%, 88.1356% 69.495%, 89.8305% 70.7902%, 91.5254% 72.2138%, 93.2203% 73.75%, 94.9153% 75.3821%, 96.6102% 77.0922%, 98.3051% 78.8616%, 100% 80.6708%, 100% 0%); shape-outside: polygon(0% 0%, 0% 82.5%, 1.69492% 84.3293%, 3.38983% 86.1385%, 5.08475% 87.9078%, 6.77966% 89.6179%, 8.47458% 91.25%, 10.1695% 92.7862%, 11.8644% 94.2098%, 13.5593% 95.505%, 15.2542% 96.6578%, 16.9492% 97.6555%, 18.6441% 98.487%, 20.339% 99.1435%, 22.0339% 99.6176%, 23.7288% 99.9041%, 25.4237% 100%, 27.1186% 99.9041%, 28.8136% 99.6176%, 30.5085% 99.1435%, 32.2034% 98.487%, 33.8983% 97.6555%, 35.5932% 96.6578%, 37.2881% 95.505%, 38.9831% 94.2098%, 40.678% 92.7862%, 42.3729% 91.25%, 44.0678% 89.6179%, 45.7627% 87.9078%, 47.4576% 86.1385%, 49.1525% 84.3293%, 50.8475% 82.5%, 52.5424% 80.6708%, 54.2373% 78.8616%, 55.9322% 77.0922%, 57.6271% 75.3821%, 59.322% 73.75%, 61.017% 72.2138%, 62.7119% 70.7902%, 64.4068% 69.495%, 66.1017% 68.3422%, 67.7966% 67.3446%, 69.4915% 66.513%, 71.1864% 65.8565%, 72.8814% 65.3824%, 74.5763% 65.0959%, 76.2712% 65%, 77.9661% 65.0959%, 79.661% 65.3824%, 81.3559% 65.8565%, 83.0509% 66.513%, 84.7458% 67.3446%, 86.4407% 68.3422%, 88.1356% 69.495%, 89.8305% 70.7902%, 91.5254% 72.2138%, 93.2203% 73.75%, 94.9153% 75.3821%, 96.6102% 77.0922%, 98.3051% 78.8616%, 100% 80.6708%, 100% 0%);
  
}

.testimonials_heading {
    text-shadow: 0px 1px 1px rgb(53, 53, 53);
}




/* Slider CSS */
.container_slider {
    max-width: 100%;
    height: 600px;
    margin: 0 auto 0;
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  @media screen and (max-width: 700px){
    .container_slider {
      margin: 100px 10px 0;
    }
  }
  .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity ease-in-out 0.4s;
  }
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .active_anim {
    opacity: 1;
  }
  
  .btn_slide {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #ffffff;
    border: 1px solid rgba(34, 34, 34, 0.287);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .btn_slide img {
    width: 25px;
    height: 25px;
    pointer-events: none;
  }
  .prev {
    top: 50%;
    left: 20px;
    transform: translateY(-60%);
  }
  .next {
    top: 50%;
    right: 20px;
    transform: translateY(-60%);
  }
  
  
  .container-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  .dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid #f1f1f1;
    margin: 0 5px;
    background: #f1f1f1;
  }
  .dot.active {
    background: rgb(32, 32, 32);
  }
  